{% extends "proyectoWebApp/base.html" %} {% load static %} {% block title %}
Página Tienda {% endblock %} {% block content %}

<div class="Carrito-logo">
  <p>Total: {{importe_total_carrito}}</p>
</div>

<!-- Menú de navegación de categorías y subcategorías -->
<div class="container mt-4">
  <div class="menu-categorias">
    <ul class="list-group">

      {% for categoria in categorias %}

        <li class="list-group-item">
        <a href="{% url 'productos_por_categoria' categoria.id %}" class="text-decoration-none">{{ categoria.nombre }}</a>

        {% if categoria.subcategorias.all %}
        <ul class="list-group mt-2">
          {% for subcategoria in categoria.subcategorias.all %}
          <li class="list-group-item">
            <a
              href="{% url 'productos_por_subcategoria' subcategoria.id %}"
              class="text-decoration-none"
              >{{ subcategoria.nombre }}</a
            >
          </li>
          {% endfor %}
        </ul>
        {% endif %}
         </li>
      {% endfor %}

       <!-- Botón "Mostrar todos los productos" -->
      {% if filtro %}
        <li class="list-group-item">
          <a href="{% url 'tienda' %}" class="btn btn-outline-secondary w-100">
           Mostrar todos
          </a>
        </li>
      {% endif %}

    </ul>
  </div>
</div>

<!-- Lista de productos -->
{% if productos %}
<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-4 g-3">
    <!-- Configuración responsiva -->

    {% for producto in productos %}
    <div class="col-md-3 d-flex">
      <div class="card h-100 mt-2">

        {% if producto.imagen %}
        <img
          src="{{ producto.imagen.url }}"
          alt="{{ producto.nombre }}"
          class="card-img-top"
        />
        {% else %}
        <img
          src="/media/default.jpg"
          alt="Img por defecto"
          class="card-img-top"
        />
        {% endif %}

        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text mt-2">Precio: ${{ producto.precio }}</p>
          <p class="card-text">
            Subcategoría: 
            {% for categoria in producto.categorias.all %}
              <a
                href="{% url 'productos_por_subcategoria' categoria.id %}"
                class="text-decoration-none"
                >{{ categoria.nombre }}</a
              >{% if not forloop.last %}, 
               {% endif %} 
            {% endfor %}

          </p>

          <div class="mt-auto">
            <a href="#" class="btn btn-primary w-100">Comprar</a>
          </div>

          <div class="card-footer text-center">
            <a href="#" class="btn btn-success w-100"> Agregar al Carrito</a>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<p style="color: white">Actualmente no hay productos disponibles</p>
{% endif %} {% endblock %}
