{% extends "proyectoWebApp/base.html" %}

{% load static %}

{%block title%} Pagina contacto {% endblock %}

{%block content%}
  
    <div class="container-form">

      {%if "valido" in request.PATH %}

        <p>Informacion Enviada correctamente</p>

      {% endif %}

      <form action="" method="POST" style="text-align:center;">
        {% csrf_token %}
        <table style="color: white; margin:20px auto;">
          {{contacto_form.as_table}}
        </table>
      <input type="submit" value="Enviar" style="width:150px;" class="btn-enviar" />

      </form>

    </div>

    <p style="color: white;">{{request.POST}} </p>
    <p style="color: white;">GET: {{request.GET}} </p>
    
{% endblock %}
