{% extends "proyectoWebApp/base.html" %}

{% load static %}

{%block title%} Blogs {% endblock %}

{% block content %}

{%if posts%}

  {% for post in posts %}

    <section class="page-section clearfix">
      
      <div class="container">

        <div class="intro">
          
          {% if post.imagen %}

            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt=""  style = "width: 50%;">

          {% else %}

            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/default.jpg" alt=""  style = "width: 50%;">

          {% endif %}

          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <span class="section-heading-lower">{{post.titulo}}</span>
              <span class="section-heading-upper">{{post.contenido}}</span>
            </h2>
            <div style = "text-align: left;">
              Autor:   
              <a href ="{% url 'autor' post.autor.id %}" style = "color: white; margin-left: 10px;">
                {{post.autor}}
              </a>
              {% for categoria in post.categorias.all  %}
              <p>Categoria:   
                <a href = "{% url 'categoria' categoria.id %}" style = "color: white; margin-left: 10px;">
                  {{categoria.nombre}}
                </a>
              </p>

              {% endfor %}
            </div>
          </div>
                    
        </div>
      </div>
    </section>
  {% endfor %}

  <section> 
    <div style="width: 75%; text-align: center; color: white; margin:0 auto;">

      <strong>Categorias: </strong>        
          {% for categoria in categorias  %}
            <a href = "{% url 'categoria' categoria.id %}" style = "color: white; margin-left: 10px;">
              {{categoria.nombre}}
            </a>
          {% endfor %}

    </div>

    <div style="width: 75%; text-align: center; color: white; margin:0 auto;">
      <strong>Autores: </strong>
      
      {% for autor in autores %}
        
        <a href ="{% url 'autor' autor.id %}" style = "color: white; margin-left: 10px;">
            {{autor}}
        </a>

      {% endfor %}

    </div>

  </section>

{% else %}  
    <p style="color: white; text-align:center; ">Actualmente No hay Posts disponibles </p>
{% endif %}

{% endblock %}